<h1>Add Photo for: <%= @album.title %></h1>


<%= simple_form_for([@album, @photo]) do |f| %>
	<p><%= f.label :caption %> <br />

	<%= f.input :caption, placeholder: 'Photo Caption', label: 'The name' %>
	<%= f.input :description, hint: 'At least 10 words' %>
	<%= f.association :categories, as: :check_boxes %>
	<%= f.input :photo %>
	<%= f.button :submit %>

<% end %>
